includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - packages/framework/src
        - packages/skeleton/app
    excludePaths:
        - packages/skeleton/database/migrations/*
    ignoreErrors:
        - '#.*deprecated.*#'
